{% extends "base.html" %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <p>
        by {{ question.user.username }}
    </p>
    <p>
        {{ question.body }}
    </p>

    <h2>Answers</h2>
    {% if request.user.is_authenticated %}
        <a href="{% url 'answer_create' question.pk%}" >write an answer</a>
    {% endif %}

    {% if question.answer_set.all %}
        <ul>
            {% for answer in question.answer_set.all %}
                <li>
                    {{ answer.body }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>no answers yet!</p>
    {% endif %}
{% endblock %}