<!DOCTYPE html>
<html lang="en">
<div class="oxcursor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'js/main.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title> Ask Durham: Community </title>

</head>

<body class="bodyback">
    <header>
        <a href="{% url 'index' %}"> Durham Home </a>
    </header>
    <ul>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'my_profile' %}"> {{user.username }}</a></li>
            <li><a href="{% url 'auth_logout' %}?next={{request.path}}">Logout</a></li>   
        {% else %}
            <li><a href="{% url 'auth_login' %}?next={{request.path}}">Login</a></li>
            <li><a href="{% url 'registration_register' %}">Register</a> </li>
        {% endif %} 
    </ul>
    {% block content %}{% endblock%}


</body>
</div>
</html>
